@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe&display=swap');
body {
  margin-top: 25px;
  background: rgb(34, 75, 170);
}
.App {
  width: 90%;
  margin: auto;
}

.title {
  font-family: 'ZCOOL KuaiLe', cursive;
  color: peru;
  font-size: 45px;
  text-align: center;
}